/*--------------------------------------- Universal Styles -----------------------------------------*/

body {
	background: #ffffff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
}
/*---------------------------------------
    Typography              
-----------------------------------------*/
h1 {
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: 700;
}

h2 {
	font-size: 30px;
	font-weight: 600;
}

h3 {
	font-weight: 700;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 10px;
}

p {
	color: #101010;
	font-size: 16px;
	line-height: 24px;
}

a {
	text-decoration: none !important;
	outline: none;
}


/*---------------------------------------
    General               
-----------------------------------------*/
hr {
	color: #00aaff;
	background-color: #00aaff;
	border: 2px solid;
	border-radius: 3px;
	width: 20%;
}

.btn {
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 0px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 100px;
}

.btn-main {
	color: #ffffff;
	background: #66ccff;
	border-color: transparent;
}

.btn-main:hover {
	color: #66ccff;
	background: transparent;
	border-color: #66ccff;
}

.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}

/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
	margin-bottom: 0;
	background-color: #fffff;
	max-height: 100%;
}

	.custom-navbar.top-nav-collapse {
		background: #1C503A;
		box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
		padding: 0;
	}

	/* For images
	.custom-navbar .navbar-brand {
		height: auto;
		width: auto;
		max-height: 70px;
		max-width: 400px;
		line-height: 35px;
		vertical-align: middle;
	}*/

	.custom-navbar .navbar-brand {
	    color: #ffffff;
	    font-weight: 600;
	    font-size: 3rem;
	    line-height: 45px;
	}

	.custom-navbar .nav li a {
		color: #ffffff;
	}

	.custom-navbar .nav li a,
	.custom-navbar .nav li button {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		line-height: 40px;
		transition: all 0.4s ease-in-out;
	}

		.custom-navbar .nav li a:hover {
			background: transparent;
			color: #e6ad31;
		}

	.custom-navbar .navbar-nav > li > a:hover,
	.custom-navbar .navbar-nav > li > a:focus {
		background-color: transparent;
	}

#iconNav {
	color: #101010;
	font-size: 20px;
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 20px;
	background-color: transparent;
}

	.custom-navbar .navbar-toggle .icon-bar {
		background: #ffffff;
		border-color: transparent;
	}

.current {
	color: #8cc63e;
}

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

		.navbar-collapse.collapse {
			display: none !important;
		}

	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}

		.navbar-nav > li {
			float: none;
		}

			.navbar-nav > li > a {
				padding-top: 10px;
				padding-bottom: 10px;
			}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.collapsing {
		overflow: hidden !important;
	}
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
	color: #ffffff;
	background: #1C503A;
	font-weight: 600;
	background-attachment: fixed;
	padding-top: 2rem;
	padding-bottom: 2rem;
}


	footer h1 {
		margin-bottom: 15px;
	}

	footer p {
		color: #ffffff;
	}

	footer br {
		display: none;
	}

.legal-link {
	color: #ffffff;
}

	.legal-link:hover {
		color: #66ccff;
	}

@media(max-width:411px) {
	footer br {
		display: inline;
	}
}

/*--------------------------------------- Home Page Styles -----------------------------------------*/
/*---------------------------------------
    Home Hero Section              
-----------------------------------------*/
@media(min-width: 992px) {
	#intro {
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/intro.jpg') 50% 0 repeat-y fixed;
		-webkit-background-size: cover;
		background-size: cover;
		height: 100vh;
		text-align: center;
		background-position: center center;
		color: #ffffff;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

#intro h1 {
	color: #ffffff;
}

#intro .btn-second {
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
	margin-right: 12px;
}

	#intro .btn-second:hover {
		background: #ffffff;
		color: #101010;
		border-color: transparent;
	}

.hero-break hr {
	margin-top: 5rem;
	color: #1C503A;
	background-color: #1C503A;
	border: 2px solid;
	border-radius: 3px;
	width: 95%;
}

@media(max-width: 991px) {

	#intro .btn-second {
		background: transparent;
		color: #1C503A;
		border-color: #1C503A;
	}

		#intro .btn-second:hover {
			background: #1C503A;
			color: #ffffff;
			border-color: transparent;
		}
}

/*--------------------------------------- Responsive Styles -----------------------------------------*/
@media (min-width: 2200px) {
	p {
		font-size: 20px;
	}
}

@media(min-width: 992px) {
	.hide-comp {
		display: none;
	}
}

@media(min-width: 768px) {
	.hide-nonmobile {
		display: none;
	}
}


@media (max-width: 991px) {

	.hide-tablet {
		display: none;
	}

	#intro {
		color: #1C503A;
		text-align: center;
		background: #ffffff;
		padding-top: 10rem;
	}

	.quoteBox, .benQuoteBox, .card, .ptnrBox {
		margin-bottom: 45px;
	}

	login-btn {
		margin-left: 10px;
	}
}

@media (max-width: 767px) {

	.hide-mobile {
		display: none;
	}

	#overview img {
		padding-top: 32px;
	}

	footer .btn {
		margin-top: 32px;
	}
}
